<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} test {% endblock %}</title>
</head>
<body>
    {% set my_value = 'Yeet! :D' %}
    <h1>{% include '~my-good-component/main.njk' %}</h1>
    <h1>{% component 'my-good-component' %}</h1>
    <h1>{% component 'my-good-component' with {'some_value': my_value} %}</h1>
</body>
</html>